{% extends "base.html" %}

{% block content %}
<h1>Ваши вопросы</h1>
{% if current_user.is_authenticated %}
    <a href="question" class="btn btn-secondary">Задать вопрос</a>
{% endif %}
{% for item in question%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/question/{{ item.id }}" class="btn btn-warning">
                Редактировать
            </a>
            <a href="/question_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
            <a href="/new_answer/{{ item.id }}" class="btn btn-success">Ответить</a>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}